<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.mehow.squashit">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <permission android:name="io.mehow.squashit.READ" />

  <application
      android:name=".SquashItApp"
      android:allowBackup="true"
      android:fullBackupContent="@xml/backup_content"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="false"
      android:theme="@style/Theme.SquashIt">

    <activity
        android:name=".MainActivity"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data
          android:name="android.app.shortcuts"
          android:resource="@xml/shortcuts" />
    </activity>

    <activity
        android:name=".ExportActivity"
        android:excludeFromRecents="true"
        android:taskAffinity=""
        android:theme="@android:style/Theme.NoDisplay" />

    <service
        android:name=".ExportService"
        android:exported="false" />

    <activity
        android:name=".ImportActivity"
        android:excludeFromRecents="true"
        android:taskAffinity=""
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

    <service
        android:name=".ImportService"
        android:exported="false" />

    <provider
        android:name=".CredentialsContentProvider"
        android:authorities="io.mehow.squashit.contentprovider"
        android:exported="true"
        android:permission="io.mehow.squashit.READ" />

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="io.mehow.squashit.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths" />
    </provider>
  </application>

</manifest>
